%nav#top-nav{ role: 'navigation', class: 'navbar navbar-default navbar-fixed-top' }
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button{ type: 'button', class: 'navbar-toggle', data: { toggle: 'collapse', target: '#ff-navbar-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %h1= link_to region_t('heading'), root_path

    #ff-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t('about_link'), '#'
        %li= link_to t('suggestion_link'), '#'
