%nav#top-nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '#ff-navbar-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %h1#heading= link_to region_t('heading'), region_path('root')

    #ff-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t('nav.about'), region_path('root')
        %li= link_to t('nav.suggestion'), region_path('root')
