= react_component 'FF.TopNav',
  regionPath: region_path('root'),
  headingLink: region_t('heading'),
  aboutLink: t('nav.about'),
  suggestLink: t('nav.suggestion')

.container
  = react_component 'FF.FactList', facts: serialized_facts
  = paginate @facts
