&.facts.index {
  #facts {
    margin-top: 10%;
  }

  article {
    margin: 10px 0 23px 0;

    h2 {
      font-size: 28px;
    }

    p {
      font-size: 17px;
      font-style: italic;
    }
  }

  aside {
    font-weight: lighter;

    span {
      color: $source-label-color;
    }
  }

  @media (min-width: $screen-md-min) {
    .navbar-right {
      right: 15px;
      position: absolute;
    }
  }
}
