@import 'fonts';
@import 'colors';

$page-font: $aller;
$page-color: $charcoal-blue;
$nav-link-color: $chicago-red;
$heading-font: $railway;
$source-label-color: $chicago-red;

.chicago {
  @import 'layout';
  @import 'index';
}
